@font-face {
    font-family: Poppins-Bold;
    src: url(/src/components/Assets/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(/src/components/Assets/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(/src/components/Assets/Poppins/Poppins-Regular.ttf);
}

.signup-page {
    background-color: #F5F5F5;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: Poppins-Regular, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
}



.form {
    max-width: 600px;
    min-width: 500px;
    margin: 0 0 8px 0;
    padding: 20px 15px 20px 10px;
    background-color: #ffffff;
    box-shadow: 20px 10px 5px #d3d6d9;
    border: 1px solid black;
    border-radius: 32px;
}


.logo {
    width: 500px;
    transform: scale(0.9);
}

.h2 {
    letter-spacing: 3px;
}

.instructions, .errmsg {
    background-color: rgb(255, 120, 120);
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 5px 13px;
    margin-bottom: 0.1rem;
    width: 480px;
}

.errmsg {
    margin-bottom: 10px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.name-input, .email-input, .password-input, .confirm-input, .name-label, .email-label, .password-label, .confirm-label{
    display: block;
    width: 100%;
    margin: 10px 0 5px 0;
    text-align: left;
}

.name-input, .email-input, .password-input, .confirm-input {
    border: 1px solid #F5F5F5;
    padding: 13px 5px;
    border-radius: 10px;
    font-family: Poppins-Medium, Tahoma, sans-serif;
    background-color: #FFFFFF;
}

.register-btn {
    background-color: #00000C;
    color: #FFFFFF;
    padding: 7px 15px;
    border: 0px;
    border-radius: 3px;
    font-family: Poppins-Bold, Tahoma, sans-serif;
    box-shadow: 2px 1px 5px #d3d6d9;
    letter-spacing: 1px;
    font-weight: bold;
}

.register-btn:disabled {
    cursor: default;
    pointer-events: none;
    background-color: #8b8b8b;
}

.register-btn:hover {
    cursor: pointer;
}
